.page-search {
  width: 100%;
}

.container-search-artist {
  padding: 1em;
  text-align: center;
}

.container-search {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.input-search {
  height: 35px;
  margin-right: 0.8em;
  padding: 0.7em;
  width: 25%;
}

.btn-search {
  height: 35px;
  width: 10%;
}

.result-album-artist {
  font-size: 1.5em;
}

.artist-bold {
  font-size: 1em;
}

.container-albuns {
  align-items: baseline;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.album-body {
  background: #e7e7e7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.39);
  height: 24em;
  margin: 1em;
  padding: 0.8em;
  width: 16.5%;
}

.body-img {
  display: flex;
  justify-content: center;
  margin-bottom: 0.4em;
  width: 100%;
}

.img-album {
  width: 100%;
}

.data-album {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  height: 47%;
  justify-content: space-around;
  text-align: center;
  text-shadow: 0.9px 0.9px 1.2px rgba(0, 0, 0, 0.356);
}

.data-album a {
  color: #0c0;
  font-weight: 800;
  text-shadow: none;
  transition: 0.1s all ease-out;
}

.data-album a:hover {
  color: #01f801;
}
